<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user, :class=>"waves-effect waves-light btn" %>
<%= link_to 'Back', users_path, :class=>"waves-effect waves-light btn" %>
