<h1>Editing Library</h1>

<%= render 'form', library: @library %>

<%= link_to 'Show', @library, :class=>"waves-effect waves-light btn" %>
<%= link_to 'Back', libraries_path, :class=>"waves-effect waves-light btn" %>
